*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
  }
  body{
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  }

.navbar{
    list-style-type: none;
    background: linear-gradient(to right,#91d49b ,#15371a);
    overflow: hidden;
    height: 100%;
    min-height: 75px;
    justify-content: center;
    align-items:center;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    font: italic 1.2em "Fira Sans", serif
}
.items{margin-right: 10px;
    color:black;
    cursor:pointer;
    font-size: 30px;
   display: flex;
   text-decoration: none;
}
body{
  background :#edf8ee;
  height: 900px;
  
}
.droit{
 margin-left: 660px;
}
@media screen and  (max-width: 500px){
.navbar{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40vh;
    padding: 2rem;
    background-color: black;
    display: block;
    
}
}
    
/* .logo{ height: 75px;
  width: 75px;
 margin-left: -60%;
 right: 20%;
 
} */
.col-sm-9{
  margin-left: 15%;
}